/* tipografia para titulos _________font-family: 'Unbounded', cursive;    */
@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@300;400;500;600;700;800;900&display=swap");
/* tipografia para texto generico _________font-family: 'Prompt', sans-serif;   */
@import url("https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* para usar______ @include title; */
/* para usar______ @include text; */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}
* body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
* h1 {
  font-family: "Unbounded", cursive;
  font-weight: 800;
  color: #582BAF;
  line-height: 93.5%;
}
* li {
  list-style: none;
}

/* header beggin */
header {
  width: 100%;
  height: 70px;
  background: #E7B7EE;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  border-radius: 0 0 10px 10px;
  margin: 0 auto;
}

.logo img {
  width: 70px;
  margin-top: 5px;
}

nav .logo {
  display: none;
}

nav ul {
  display: flex;
}

nav ul li a {
  font-family: "Unbounded", cursive;
  font-weight: 400;
  color: #582BAF;
  text-decoration: none;
  display: block;
  margin: 0 2px;
  font-weight: 600;
  padding: 8px 18px;
  transition: 0.2s;
  border-radius: 30px;
}

nav ul li a:hover {
  background-color: white;
}

nav ul li a.active {
  background: #675cff;
  color: white;
}

.hamburger {
  display: none;
  height: -moz-fit-content;
  height: fit-content;
  cursor: pointer;
  padding: 3px 8px;
  border-radius: 5px;
  transition: 0.2s;
}

.hamburger:hover {
  background: white;
}

.hamburger div {
  width: 30px;
  height: 2px;
  margin-right: 6px 0;
  background: #212526;
  margin-bottom: 8px;
}

/* header end */
/*form*/
body {
  background-color: #a382e4;
}

.container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 2rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(45deg, #582BAF, #FF7ACC);
}

img {
  width: 100%;
  z-index: 1;
}

.form {
  width: 100%;
  max-width: 820px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-decoration: none;
}
.form .contact-form {
  background-color: #582BAF;
  position: relative;
}
.form .circle {
  border-radius: 50%;
  background: linear-gradient(135deg, transparent 20%, #a382e4);
  position: absolute;
}
.form .circle .circle.one {
  width: 130px;
  height: 130px;
  top: 130px;
  right: -40px;
}
.form .circle .circle.one .circle.two {
  width: 80px;
  height: 80px;
  top: 10px;
  right: 30px;
}

.contact-form:before {
  content: "";
  position: absolute;
  width: 26px;
  height: 26px;
  background-color: #582BAF;
  transform: rotate(45deg);
  top: 50px;
  left: -13px;
}

form {
  padding: 2.3rem 2.2rem;
  z-index: 10;
  overflow: hidden;
  position: relative;
}

h3 {
  text-align: center;
}

.title {
  color: #fff;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1;
  margin-bottom: 0.7rem;
}

.input-container {
  position: relative;
  margin: 1rem 0;
  font-family: "Unbounded";
}
.input-container .input {
  width: 100%;
  outline: none;
  border: 2px solid #fafafa;
  background: none;
  padding: 0.6rem 1.2rem;
  font-weight: 500;
  font-size: 0.95rem;
  letter-spacing: 0.5px;
  border-radius: 25px;
  transition: 0.3s;
  font-family: "Unbounded", cursive;
  color: #fff !important;
}
.input-container .input textarea.input {
  padding: 0.8rem 1.2rem;
  min-height: 150px;
  border-radius: 22px;
  resize: none;
  overflow-y: auto;
}
.input-container .input textarea.input .input-container label {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  padding: 0 0.4rem;
  color: #fafafa;
  font-size: 0.9rem;
  font-weight: 400;
  pointer-events: none;
  z-index: 1000;
  transition: 0.5s;
}
.input-container .input textarea.input .input-container label .input-container.textarea label {
  top: 1rem;
  transform: translateY(0);
}
.input-container .input textarea.input .input-container label .input-container.textarea label .btn {
  padding: 0.6rem 1.3rem;
  background-color: #fff;
  border: 2px solid #fafafa;
  font-size: 0.95rem;
  color: #582BAF;
  line-height: 1;
  border-radius: 25px;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  margin: 0;
}
.input-container .input textarea.input .input-container label .input-container.textarea label .btn .btn:hover {
  background-color: transparent;
  color: #fff;
}

.input-container.focus label {
  top: 0;
  transform: translateY(-50%);
  left: 25px;
  font-size: 0.8rem;
}

.contact-info {
  padding: 2.3rem 2.2rem;
  position: relative;
}
.contact-info .contact-info .title {
  color: #582BAF;
}
.contact-info .contact-info .title .text {
  color: #f4e4e4;
  margin: 1.5rem 0 2rem 0;
}
.contact-info .contact-info .title .text .information {
  display: flex;
  color: #faf9f9;
  margin: 0.7rem 0;
  align-items: center;
  font-size: 0.95rem;
}

.btn {
  padding: 0.6rem 1.3rem;
  background-color: #fff;
  border: 2px solid #fafafa;
  font-size: 0.95rem;
  color: #582BAF;
  line-height: 1;
  border-radius: 25px;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  margin: 0;
}
.btn .btn:hover {
  background-color: transparent;
  color: #fff;
}

@media (max-width: 850px) {
  .form {
    grid-template-columns: 1fr;
  }
  .contact-info:before {
    bottom: initial;
    top: -75px;
    right: 65px;
    transform: scale(0.95);
  }
  .contact-form:before {
    top: -13px;
    left: initial;
    right: 70px;
  }
  .square {
    transform: translate(140%, 43%);
    height: 350px;
  }
  .big-circle {
    bottom: 75%;
    transform: scale(0.9) translate(-40%, 30%);
    right: 50%;
  }
  .text {
    margin: 1rem 0 1.5rem 0;
  }
  .social-media {
    padding: 1.5rem 0 0 0;
  }
}
@media (max-width: 480px) {
  .container {
    padding: 1.5rem;
  }
  .contact-info:before {
    display: none;
  }
  .square,
  .big-circle {
    display: none;
  }
  form,
  .contact-info {
    padding: 1.7rem 1.6rem;
  }
  .text,
  .information,
  .social-media p {
    font-size: 0.8rem;
  }
  .title {
    font-size: 1.15rem;
  }
  .social-icons a {
    width: 30px;
    height: 30px;
    line-height: 30px;
  }
  .icon {
    width: 23px;
  }
  .input {
    padding: 0.45rem 1.2rem;
  }
  .btn {
    padding: 0.45rem 1.2rem;
  }
}
/*form end*/
footer {
  font-family: "Prompt", sans-serif;
  font-weight: 400;
  color: #582BAF;
  font-size: 12px;
  position: relative;
  width: 100%;
  background: black;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
footer .social_icon, footer .footer_menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px 0;
}
footer .social_icon li a {
  display: inline-block;
  font-size: 2em;
  color: white;
  margin: 0 10px;
  transition: 0.5s;
}
footer .social_icon li a:hover {
  transform: translateY(-10px);
}
footer .footer_menu li a {
  display: inline-block;
  font-size: 1.2em;
  color: white;
  margin: 0 10px;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.7;
}
footer .footer_menu li a:hover {
  opacity: 20;
}
footer p {
  color: white;
  text-align: center;
  margin: 15px 10px 0;
  font-size: 1.1em;
}
footer .wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url("/MyFirst-E-commerce/img/wavew.png");
  background-size: 1000px 100px;
}
footer .wave#wave1 {
  z-index: 1000;
  opacity: 0.8;
  bottom: 0;
  animation: animateWave 4s linear infinite;
}
footer .wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animateWave_02 4s linear infinite;
}
footer .wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWave 3s linear infinite;
}
footer .wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animateWave_02 3s linear infinite;
}

@keyframes animateWave {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-position-x: 0px;
  }
}
@keyframes animateWave_02 {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position-x: 1000px;
  }
}
/*Media Query*/
@media (max-width: 700px) {
  .showcase {
    grid-template-columns: repeat(2, 1fr);
  }
  .showcase img {
    height: 350px;
  }
}
@media (max-width: 400px) {
  .showcase {
    grid-template-columns: 1fr;
  }
  .showcase img {
    height: 370px;
  }
  .waves {
    display: none;
  }
  .tryNow {
    grid-template-columns: 1fr;
    margin-bottom: 0;
    height: 200px;
  }
  .tryNow h2 {
    padding: 20px 0;
  }
  .tryNow .btn-center {
    justify-content: center;
  }
}
@media only screen and (max-width: 1100px) {
  header {
    width: 90%;
    padding: 0 20px;
  }
  nav {
    position: absolute;
    left: 0px;
    top: 0;
    z-index: 999;
    width: 280px;
    height: 100vh;
    transition: 0.2s;
    transform: translateX(-100%);
    display: none;
  }
  .show-nav.active {
    transform: translateX(0%);
    display: block;
    background: #E7B7EE;
    box-shadow: 2px 0 20px 0 rgba(0, 0, 0, 0.05);
  }
  #nav_check:checked ~ nav .logo {
    display: block;
    height: 70px;
    display: flex;
    align-items: center;
    margin-left: 30px;
  }
  nav ul li a {
    margin-bottom: 5px;
    padding: 10px 15px;
    border-radius: 5px;
  }
  nav ul {
    display: block;
    padding: 0 20px;
    margin-top: 30px;
  }
  .hamburger {
    display: block;
  }
  .menu {
    display: none;
  }
  .menu.active {
    display: block;
  }
  #nav_check:checked ~ .menu {
    padding: 40px 10px 10px;
    text-align: center;
  }
}/*# sourceMappingURL=contact.css.map */