/* tipografia para titulos _________font-family: 'Unbounded', cursive;    */
@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@300;400;500;600;700;800;900&display=swap");
/* tipografia para texto generico _________font-family: 'Prompt', sans-serif;   */
@import url("https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* para usar______ @include title; */
/* para usar______ @include text; */

* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
}

h1 {
  font-family: "Unbounded", cursive;
  font-weight: 800;
  color: #582BAF;
  line-height: 93.5%;
}

img {
  width: 100%;
}

header {
  width: 100%;
  height: 70px;
  background: #E7B7EE;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  border-radius: 0 0 10px 10px;
  margin: 0 auto;
}

.logo {
  width: 70px;
  margin-top: 5px;
}

nav .logo {
  display: none;
}

nav ul{
  display: flex;
}

nav ul li a {
  font-family: "Unbounded", cursive;
  font-weight: 400;
  color: #582BAF;
  text-decoration: none;
  display: block;
  margin: 0 2px;
  font-weight: 600;
  padding: 8px 18px;
  transition: 0.2s;
  border-radius: 30px;
}

nav ul li a:hover {
  background-color: white;
}

nav ul li a.active {
  background: #675cff;
  color: white;
}

.hamburger {
  display: none;
  height: fit-content;
  cursor: pointer;
  padding: 3px 8px;
  border-radius: 5px;
  transition: 0.2s; 
}

.hamburger:hover {
  background: white;
}

.hamburger div {
  width: 30px;
  height: 2px;
  margin-right: 6px 0;
  background: #212526 ;
  margin-bottom: 8px;
}

@media only screen and (max-width: 1100px) {

  header {
    width: 90%;
    padding: 0 20px;
  }

  nav {
    position: absolute;
    left: 0px;
    top: 0;
    z-index: 999;
    width: 280px;
    height: 100vh;
    background: #E7B7EE;
    transition: 0.2s;
    box-shadow: 2px 0 20px 0 rgba(0, 0, 0, 0.05);
    transform: translateX(-100%);
    display: none;
  }

  nav.show-nav {
    transform: translateX(0%);
    display: block;
  }

  nav .logo {
    display: block;
    height: 70px;
    display: flex;
    align-items: center;
    margin-left: 30px;
  }

  nav ul li a {
    margin-bottom: 5px;
    padding: 10px 15px;
    border-radius: 5px;
  }

  nav ul {
    display: block;
    padding: 0 20px;
    margin-top: 30px;
  }

  .hamburger {
    display: block;
  }

  .menu {
    display: none;
  }
  
  .menu.active {
    display: block;
  }

  #nav_check:checked ~ .menu
}
