/* tipografia para titulos _________font-family: 'Unbounded', cursive;    */
@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@300;400;500;600;700;800;900&display=swap");
/* tipografia para texto generico _________font-family: 'Prompt', sans-serif;   */
@import url("https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* para usar______ @include title; */
/* para usar______ @include text; */
* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}
* body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: linear-gradient(135deg, #582BAF, #8DE2ED, #FFF385, #FF7ACC);
  background-size: 500%;
  animation: animado 10s infinite;
}
@keyframes animado {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  1000% {
    background-position: 0% 50%;
  }
}
* h1 {
  font-family: "Unbounded", cursive;
  font-weight: 800;
  color: #582BAF;
  line-height: 93.5%;
}
* li {
  list-style: none;
}

/*Header*/
header {
  width: 100%;
  height: 75px;
  background: #E7B7EE;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  border-radius: 0 0 10px 10px;
  margin: 0 auto;
}

.logo img {
  width: 70px;
  margin-top: 5px;
}

nav .logo {
  display: none;
}

nav ul {
  display: flex;
}

nav ul li a {
  font-family: "Unbounded", cursive;
  font-weight: 400;
  color: #582BAF;
  text-decoration: none;
  display: block;
  margin: 0 2px;
  font-weight: 600;
  padding: 8px 18px;
  transition: 0.2s;
  border-radius: 30px;
}

nav ul li a:hover {
  background-color: white;
}

nav ul li a.active {
  background: #675cff;
  color: white;
}

.hamburger {
  display: none;
  height: -moz-fit-content;
  height: fit-content;
  cursor: pointer;
  padding: 3px 8px;
  border-radius: 5px;
  transition: 0.2s;
}

.hamburger:hover {
  background: white;
}

.hamburger div {
  width: 30px;
  height: 2px;
  margin-right: 6px 0;
  background: #212526;
  margin-bottom: 8px;
}

/*Index*/
.showcase {
  display: grid;
  /*also: 1fr 1fr 1fr 1fr*/
  grid-template-columns: repeat(4, 1fr);
}
.showcase img {
  width: 100%;
  height: 450px;
  -o-object-fit: cover;
     object-fit: cover;
}

.tryNow {
  display: grid;
  grid-template-columns: 2fr 1fr;
  width: 100%;
  height: 200px;
  background: #D666E8;
  margin-bottom: 50px;
}
.tryNow h2 {
  font-family: "Unbounded", cursive;
  font-weight: 800;
  color: #582BAF;
  line-height: 93.5%;
  padding: 40px 10px 10px;
  text-align: center;
}
.tryNow span {
  -webkit-text-stroke: 1px #582BAF;
  color: transparent;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.tryNow p {
  font-family: "Prompt", sans-serif;
  font-weight: 400;
  color: #582BAF;
  padding: 10px 10px;
  text-align: center;
  font-size: 12px;
}
.tryNow button {
  background-color: rgb(124, 30, 187);
  border-radius: 20px;
  width: 200px;
  height: 50px;
  -webkit-text-stroke: 1px #ffffff;
  color: transparent;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
}
.tryNow .btn-center {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

/*carrusel*/
.carrusel {
  display: flex;
  align-items: first baseline;
}

.carrusel-items1 {
  display: flex;
  overflow-x: hidden;
  overflow-y: hidden;
}

.carrusel-item {
  min-width: 200px;
  max-width: 200px;
  height: 250px;
  outline: 2px solid rgba(0, 0, 0, 0);
  cursor: pointer;
}

.carrusel-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.carrusel-item:hover {
  transform: scale(1.1);
}

/*Footer @import "footer"*/
footer {
  font-family: "Unbounded", cursive;
  font-weight: 800;
  color: #582BAF;
  line-height: 93.5%;
  font-size: 16px;
  position: relative;
  width: 100%;
  background: black;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
footer .social_icon, footer .footer_menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px 0;
}
footer .social_icon li a {
  display: inline-block;
  font-size: 3em;
  color: white;
  margin: 0 10px;
  transition: 0.5s;
}
footer .social_icon li a:hover {
  transform: translateY(-10px);
}
footer .footer_menu li a {
  display: inline-block;
  font-size: 1.2em;
  color: white;
  margin: 0 10px;
  transition: 0.5s;
  text-decoration: none;
  line-height: 110%;
}
footer .footer_menu li a:hover {
  color: #FF7ACC;
}
footer p {
  color: white;
  font-family: "Prompt", sans-serif;
  font-weight: 400;
  color: #582BAF;
  color: #D666E8;
  font-size: 12px;
  text-align: center;
  margin: 15px 10px 0;
  font-size: 1.1em;
}
footer .wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url("/MyFirst-E-commerce/img/wavew.png");
  background-size: 1000px 100px;
}
footer .wave#wave1 {
  z-index: 1000;
  opacity: 0.8;
  bottom: 0;
  animation: animateWave 4s linear infinite;
}
footer .wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animateWave_02 4s linear infinite;
}
footer .wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWave 3s linear infinite;
}
footer .wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animateWave_02 3s linear infinite;
}

@keyframes animateWave {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-position-x: 0px;
  }
}
@keyframes animateWave_02 {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position-x: 1000px;
  }
}
/*Media Query*/
@media (max-width: 800px) {
  .showcase {
    grid-template-columns: repeat(2, 1fr);
  }
  .showcase img {
    height: 350px;
  }
  .tryNow button {
    width: 150px;
    height: 50px;
    -webkit-text-stroke: 0.6px #ffffff;
    font-size: 20px;
  }
}
@media (max-width: 450px) {
  .showcase {
    grid-template-columns: 1fr;
  }
  .showcase img {
    height: 400px;
  }
  .waves {
    display: none;
  }
  .tryNow {
    grid-template-columns: 1fr;
    margin-bottom: 0;
    height: 200px;
  }
  .tryNow h2 {
    padding: 20px 0;
  }
  .tryNow .btn-center {
    justify-content: center;
  }
}
@media only screen and (max-width: 1000px) {
  header {
    width: 90%;
    padding: 0 20px;
  }
  nav {
    position: absolute;
    left: 0px;
    top: 0;
    z-index: 999;
    width: 280px;
    height: 100vh;
    transition: 0.2s;
    transform: translateX(-100%);
    display: none;
  }
  .show-nav.active {
    transform: translateX(0%);
    display: block;
    background: #E7B7EE;
    box-shadow: 2px 0 20px 0 rgba(0, 0, 0, 0.05);
  }
  #nav_check:checked ~ nav .logo {
    display: block;
    height: 70px;
    display: flex;
    align-items: center;
    margin-left: 30px;
  }
  nav ul li a {
    margin-bottom: 5px;
    padding: 10px 15px;
    border-radius: 5px;
  }
  nav ul {
    display: block;
    padding: 0 20px;
    margin-top: 30px;
  }
  .hamburger {
    display: block;
  }
  .menu {
    display: none;
  }
  .menu.active {
    display: block;
  }
  #nav_check:checked ~ .menu {
    padding: 40px 10px 10px;
    text-align: center;
  }
}
/* Marquee marquesina banner*/
.text-wrapper {
  display: flex;
  justify-content: flex-start;
  background-color: #582BAF;
  align-items: center;
  text-align: center;
  overflow: hidden;
  width: 100%;
  height: 60px;
}
.text-wrapper h3 {
  font-family: "Unbounded", cursive;
  font-weight: 800;
  color: #582BAF;
  line-height: 93.5%;
  color: white;
  font-size: 20px;
  white-space: nowrap;
  padding: 0rem 0.5rem;
  letter-spacing: 2px;
  animation: move-rlt 6000ms linear infinite;
}
.text-wrapper span {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  -webkit-text-stroke: 0.5px #ffffff;
  color: rgba(2, 1, 1, 0);
  animation: move-rlt 6000ms linear infinite;
}

@keyframes move-rlt {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
/* juego de los crispies */
.crispy-game {
  position: relative;
}
.crispy-game .container-element {
  z-index: 5;
  width: 100%;
  position: absolute;
  display: grid;
  grid: auto/repeat(6, 1fr);
  gap: 8px;
  height: 1300px;
  align-items: center;
  text-align: center;
}
.crispy-game .grid-item {
  padding: 1rem;
  grid-column: span 2;
}
.crispy-game .container-element .grid-item:nth-child(5n),
.crispy-game .container-element .grid-item:nth-child(5n-1) {
  grid-column: span 3;
}
.crispy-game .crispy {
  filter: brightness(110%) saturate(90%);
  cursor: pointer;
  position: relative;
  list-style: none;
  -o-object-fit: cover;
     object-fit: cover;
  width: 90px;
  height: 90px;
  position: absolute;
  animation: float 3s ease-in-out infinite, rotate 3s linear infinite;
}
@keyframes float {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(30px, -100px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Opinions */
.container-opinions {
  background-color: #8DE2ED;
  width: 100%;
  height: 600px;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-gap: 10%;
  padding: 0 8%;
}
.container-opinions p {
  font-family: "Prompt", sans-serif;
  font-weight: 400;
  color: #582BAF;
  font-size: 22px;
  line-height: 110%;
  text-align: center;
  margin: 0;
  padding: 0;
}
.container-opinions .line {
  margin-top: 30px;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #582BAF;
  margin: 10px 0;
  text-align: center;
}
.container-opinions h3 {
  font-family: "Unbounded", cursive;
  font-weight: 800;
  color: #582BAF;
  line-height: 93.5%;
  margin-top: 20px;
  text-align: center;
  margin: 0;
  margin-top: 30px;
  padding: 0;
}

#carouselExampleIndicators {
  display: none;
}

@media only screen and (max-width: 1000px) {
  .container-opinions {
    display: none;
  }
  #carouselExampleIndicators {
    display: block;
    background-color: #8DE2ED;
    width: 100%;
    height: 600px;
    display: grid;
    align-items: center;
    padding: 0 8%;
  }
  .carousel-indicators button {
    min-width: 30px;
    min-height: 30px;
    border-radius: 50%;
    background-color: #582BAF;
    border: none;
    margin: 0 5px;
  }
  .carousel-indicators button.active {
    background-color: #582BAF !important;
  }
  .carousel-indicators button.inactive {
    background-color: #582BAF !important;
  }
  .carousel-inner {
    width: 50%;
  }
  .carousel-inner p {
    font-family: "Prompt", sans-serif;
    font-weight: 400;
    color: #582BAF;
    font-size: 22px;
    line-height: 110%;
    text-align: center;
    margin: 0;
    padding: 0;
    max-width: 80%;
    margin: 0 10%;
  }
  .carousel-inner .line {
    margin-top: 30px;
    display: block;
    height: 2px;
    background-color: #582BAF;
    max-width: 30%;
    margin: 20px 35%;
  }
  .carousel-inner h3 {
    font-family: "Unbounded", cursive;
    font-weight: 800;
    color: #582BAF;
    line-height: 93.5%;
    margin-top: 20px;
    text-align: center;
    margin: 0;
    margin-top: 30px;
    padding: 0;
    max-width: 50%;
    margin: 0 25%;
  }
  .carousel-prev-icon {
    background-image: url(/img/logo/back_arrow.svg) !important;
  }
  .carousel-next-icon {
    background-image: url(/img/logo/next_arrow.svg) !important;
  }
}
/* logo animado */
.imgLogoAnimated {
  margin-left: 33.5%;
  margin-right: 50%;
  position: relative;
  top: -143px;
}
.imgLogoAnimated img {
  margin-top: -100px;
  height: 300px;
  width: 300px;
  display: block;
  position: absolute;
  z-index: 1;
  transform-origin: center;
  margin-top: 0;
}
.imgLogoAnimated img:first-child {
  z-index: 2;
  animation: rotateleft 25s linear infinite;
}
.imgLogoAnimated img:last-child {
  z-index: 2;
  animation: rotateright 25s linear infinite;
}

@keyframes rotateleft {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotateright {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@media only screen and (max-width: 1000px) {
  .imgLogoAnimated {
    display: none;
  }
}
/*  container grande */
.container-opinions2 {
  background-color: #582BAF;
  width: 100%;
  height: 900px;
  display: grid;
  align-items: center;
  grid-template-columns: 2fr 3fr;
  grid-template-rows: 1fr;
}
.container-opinions2 .col1 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 150px;
  max-width: 70%;
  margin: 0 15%;
  text-align: center;
  align-items: center;
}
.container-opinions2 .col1 h2 {
  font-family: "Unbounded", cursive;
  font-weight: 800;
  color: #582BAF;
  line-height: 93.5%;
  color: #8DE2ED;
}
.container-opinions2 .col1 p {
  font-family: "Prompt", sans-serif;
  font-weight: 400;
  color: #582BAF;
  color: #8DE2ED;
  margin-bottom: 20px;
  font-size: 22px;
  max-width: 90%;
  margin: 0 5%;
  line-height: 100%;
}
.container-opinions2 .col2 {
  background-image: url("/MyFirst-E-commerce/img/colourfulcereals.png");
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
}

@media only screen and (max-width: 1000px) {
  .container-opinions2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 1.5fr;
    grid-gap: 100px;
    height: 1400px;
    padding-top: 200px;
  }
  .container-opinions2 col1 {
    height: 900px;
    align-items: center;
  }
  .container-opinions2 col2 {
    height: 500px;
  }
  .container-opinions2 h2 {
    font-size: 40px;
  }
  .container-opinions2 p {
    font-size: 40px;
  }
}/*# sourceMappingURL=index.css.map */