
/* tipografia para titulos _________font-family: 'Unbounded', cursive;    */
@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@300;400;500;600;700;800;900&display=swap');

/* tipografia para texto generico _________font-family: 'Prompt', sans-serif;   */
@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* para usar______ @include title; */
@mixin title {
    font-family: 'Unbounded', cursive;
    font-weight: 800;
    color: #582BAF;
    line-height: 93.5%;
  }

/* para usar______ @include text; */
@mixin text {
    font-family: 'Prompt', sans-serif;
    font-weight: 400;
    color: #582BAF;
}

* {
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    body {
      display: flex;
      flex-direction: column;
      min-height: 100vh;
    }
    h1 {
      @include title;
    }
    li {
      list-style: none;
    }
}
/*Header*/
header {
  width: 100%;
  height: 70px;
  background: #E7B7EE;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  border-radius: 0 0 10px 10px;
  margin: 0 auto;
}

.logo img {
  width: 70px;
  margin-top: 5px;
}

nav .logo {
  display: none;
}

nav ul{
  display: flex;
}

nav ul li a {
  font-family: "Unbounded", cursive;
  font-weight: 400;
  color: #582BAF;
  text-decoration: none;
  display: block;
  margin: 0 2px;
  font-weight: 600;
  padding: 8px 18px;
  transition: 0.2s;
  border-radius: 30px;
}

nav ul li a:hover {
  background-color: white;
}

nav ul li a.active {
  background: #675cff;
  color: white;
}

.hamburger {
  display: none;
  height: fit-content;
  cursor: pointer;
  padding: 3px 8px;
  border-radius: 5px;
  transition: 0.2s; 
}

.hamburger:hover {
  background: white;
}

.hamburger div {
  width: 30px;
  height: 2px;
  margin-right: 6px 0;
  background: #212526 ;
  margin-bottom: 8px;
}
/*Footer*/
.showcase {
  display: grid;
  /*also: 1fr 1fr 1fr 1fr*/
  grid-template-columns: repeat(4, 1fr);
  
  img {
    width: 100%;
    height: 450px;
  }
}
.tryNow {
  display: grid;
  grid-template-columns: 2fr 1fr;
  width: 100%;
  height: 150px;
  background: #D666E8;
  margin-bottom: 50px;
  h2 {
    @include title;
    padding: 40px 10px 10px;
    text-align: center;
  }
  span{
    -webkit-text-stroke: 1px #582BAF;
    color: transparent;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  p {
    @include text; 
    padding: 10px 10px;
    text-align: center;
    font-size: 12px;
  }
  button {
    @include text; 
    color: white;
    background-color: rgb(124, 30, 187);
    border-radius: 10px;
    width: 90px;
    height: 30px;
  }
  .btn-center {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
}
/*@import "footer"*/
footer {
  @include text; 
  font-size: 12px;
  position: relative;
  width: 100%;
  background: black;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .social_icon, .footer_menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px 0;
  }
  .social_icon li a {
    display: inline-block;
    font-size: 2em;
    color: white;
    margin: 0 10px;
    transition: 0.5s;
  }
  .social_icon li a:hover {
    transform: translateY(-10px);
  }
  .footer_menu li a {
    display: inline-block;
    font-size: 1.2em;
    color: white;
    margin: 0 10px;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.70;
  }
  .footer_menu li a:hover {
    opacity: 20;
  } 
  p {
    color: white;
    text-align: center;
    margin: 15px 10px 0;
    font-size: 1.1em;
  }
  .wave {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url('/MyFirst-E-commerce/img/wavew.png');
    background-size: 1000px 100px;
  }
  .wave#wave1 {
    z-index: 1000;
    opacity: 0.8;
    bottom: 0;
    animation: animateWave 4s linear infinite;
  }
  .wave#wave2 {
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animateWave_02 4s linear infinite;
  }
  .wave#wave3 {
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWave 3s linear infinite;
  }
  .wave#wave4 {
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animateWave_02 3s linear infinite;
  }
}
@keyframes animateWave {
  0% 
  {
    background-position-x: 1000px;
  }
  100% 
  {
    background-position-x: 0px;
  }
}
@keyframes animateWave_02 {
  0% 
  {
    background-position-x: 0px;
  }
  100% 
  {
    background-position-x: 1000px;
  }
}
/*Media Query*/
@media (max-width: 700px){
  .showcase {
    grid-template-columns: repeat(2, 1fr);
}

.showcase img {
    height: 350px;
}
}
@media (max-width: 400px) {
  .showcase {
      grid-template-columns: 1fr;
  }

  .showcase img {
      height: 370px;
  }
  .waves {
    display: none;
  }
  .tryNow {
    grid-template-columns: 1fr;
    margin-bottom: 0;
    height: 200px;
    h2 {
      padding: 20px 0;
    }
    .btn-center {
      justify-content: center;
    }
  }
}
@media only screen and (max-width: 1100px) {

  header {
    width: 90%;
    padding: 0 20px;
  }

  nav {
    position: absolute;
    left: 0px;
    top: 0;
    z-index: 999;
    width: 280px;
    height: 100vh;

    transition: 0.2s;

    transform: translateX(-100%);
    display: none;
  }

  .show-nav.active {
    transform: translateX(0%);
    display: block;
    background: #E7B7EE;
    box-shadow: 2px 0 20px 0 rgba(0, 0, 0, 0.05);
  }

  #nav_check:checked ~
  nav .logo {
    display: block;
    height: 70px;
    display: flex;
    align-items: center;
    margin-left: 30px;
  }

  nav ul li a {
    margin-bottom: 5px;
    padding: 10px 15px;
    border-radius: 5px;
  }

  nav ul {
    display: block;
    padding: 0 20px;
    margin-top: 30px;
  }

  .hamburger {
    display: block;
  }

  .menu {
    display: none;
  }
  
  .menu.active {
    display: block;
  }

  #nav_check:checked ~ .menu {

  padding: 40px 10px 10px;
  text-align: center;
}
}
